<a class="site-title" rel="author" href="{{ " /" | relative_url }}">
  {%- if site.title-logo -%}
  <img src="{{ site.title-logo | relative_url }}" alt="{{ site.title | escape }}" style="height: 100px;"></img> {{
  site.title | escape }}
  {%- else -%}
  {{ site.title | escape }}
  {%- endif -%}
</a>

{%- for fam, pats in site.data.patFam -%}
<h2>{{ fam }}</h2>
<ul>
  {% for p in pats %}
  {{ p }}
  {%- endfor -%}
</ul>
{%- endfor -%}

{%- for p in site.patterns -%}
<h4><a href="{{ p.url }}">{{- p.title -}}</a></h4>
{%- endfor -%}

<!--
<div>
{%- for fam in site.data.patFam -%}
<h3>{{ fam.family }}</h3>
  {% for p in fam.patterns %}
  <li>{{ p }}</li>
  {%- endfor -%}
{%- endfor -%}
</div>

<ul>
{%- for p in site.patterns -%}
<li><a href="{{ p.url | relative_url }}">{{- p.title -}}</a></li>
{%- endfor -%}
<ul>
-->

<!-- <div>
  {%- assign pats_fams = site.patterns | group_by: 'family' -%}
  {%- for fam in pats_fams -%}
  <h3>{{- fam.name | append: " patterns" -}}</h3>
  <ul>
    {%- assign pats = fam.items -%}
    {%- for p in pats -%}
    <li>{{- p.title -}}</li>
    {%- endfor -%}

  </ul>
  {%- endfor -%}
</div> -->

<!-- <div>
{%- for fam in site.data.patFam -%}
<h3>{{- fam.family -}}</h3>
  <ul>
  {%- for p in site.patterns -%}
    {%- if p.family == fam.family -%}
    <li><a href="{{ p.url | relative_url }}">{{- p.title -}}</a></li>
    {%- endif -%}
  {%- endfor -%}
  </ul>
{%- endfor -%}
</div>
-->

<!-- <div>
{%- for fam in site.data.patFam -%}
<h3>{{- fam.family | append: " patterns" -}}</h3>
  <ul>
  {%- for p in site.patterns -%}
    {%- if p.family == fam.family -%}
    <li>{{- p.title -}}</li>
    {%- endif -%}
  {%- endfor -%}
  </ul>
{%- endfor -%}
</div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/startup.js" integrity="sha512-TVq6RFk599KMqPh7Ri0yEAxHbJ0dcxSSPgvMuzQUg0wu4z+X7z2PsibMbbzAq/AHloHdxMW0FdvKv9k4s8niuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>