<a class="site-title" rel="author" href="{{ " /" | relative_url }}">
  {%- if site.title-logo -%}
  <img src="{{ site.title-logo | relative_url }}" alt="{{ site.title | escape }}" style="height: 100px;"></img> {{
  site.title | escape }}
  {%- else -%}
  {{ site.title | escape }}
  {%- endif -%}
</a>

{%- for fam, pats in site.data.patFam -%}
<h2>{{ fam }}</h2>
<ul>
  {% for p in pats %}
  {{ p }}
  {%- endfor -%}
</ul>
{%- endfor -%}

{%- for p in site.patterns -%}
<h4><a href="{{ p.url }}">{{- p.title -}}</a></h4>
{%- endfor -%}

<!--
<div>
{%- for fam in site.data.patFam -%}
<h3>{{ fam.family }}</h3>
  {% for p in fam.patterns %}
  <li>{{ p }}</li>
  {%- endfor -%}
{%- endfor -%}
</div>

<ul>
{%- for p in site.patterns -%}
<li><a href="{{ p.url | relative_url }}">{{- p.title -}}</a></li>
{%- endfor -%}
<ul>
-->